.functions {
    text-align: center;
}

.list {
    text-align: center;
}

.subject {}

.submit {
    color: white;
    background-color: rgb(97, 219, 251);
    margin-top: 30px;
}

.submit:hover {
    background-color: darkslateblue;
}

.remove {
    color: red;
    background: none;
    border: none;
}

.remove:hover {
    color: darkslateblue;
}