.content {
    text-align: center;
    font: Arial;
}

.spacerMobile {
    display: none;
}

.subject {
    background-color: white;
    color: black;
}

.submitField {
    margin-top: 5vh;
}

.list {
    display: inline-block;
}

.item {
    background-color: white;
    color: black;
    align-items: center;
    height: 2rem;
    min-height: fit-content;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
}

.remove {
    height: 2rem;
    width: 2rem;
    color: red;
    background-color: orange;
    border: none;
}

.remove:hover {
    background-color: darkred;
}

@media(max-width: 480px) {
    .spacer {
        display: none;
    }

    .spacerMobile {
        display: block;
    }

    .item {
        height: 3em;
    }

    .remove {
        height: 3rem;
        width: 3rem;
    }
}